#gf_001 {

	@media only screen and (min-width: 825px) and (max-width: 1020px) {

	}

	@media only screen and (min-width: 620px) and (max-width: 825px) {

	}

	@media only screen and (max-width: 620px) {

	}
}
