<!-- NO COMMENT IF CINEMATIC -->
<!--   <span class="bumper--bottom bumper--add-margin bumper--bottom_addthis"></span> -->
<!-- <div class="cinematic-element fullsize-element ">
<div class="aspect-ratio-wrapper sixteennine"> -->

<!-- NO COMMENT IF MEDIUM --><!-- 
  <span class="bumper--bottom bumper--add-margin bumper--bottom_addthis"></span> -->
<!-- <div class="fullsize-element"> -->
	<!-- <div class="media_medium--container container"> -->

		<div id="gf_001">

			<div class="grfxhead">Graphic headline</div>
			<div class="grfxintro">Little intro for the graphic. Both headline and intro can be commented or deleted if they're not needed.</div>

			<div class="grfxcontainer stretch">
				Your stuff
			</div>	

			<div class="source">NG STAFF</br>SOURCE: NATIONAL GEOGRAPHIC</div>

		</div>

<!-- NO COMMENT IF MEDIUM OR CINEMATIC-->
<!-- </div></div> <span class="bumper--top bumper--top_addthis"></span> -->
<script src="http://code.jquery.com/jquery-latest.min.js"type="text/javascript"></script>
